<div class="flex h-screen antialiased text-gray-800">
  <div class="flex flex-row h-full w-full overflow-x-hidden">
    <div class="flex">
      <!-- Sidebar -->
      <aside class="sidebar bg-gray-800 text-white h-screen w-16 flex flex-col justify-between py-6">
        <!-- Sidebar items -->
        <nav class="flex flex-col space-y-4 items-center">
          <button class="sidebar-icon group" >
            <img class="w-24 h-24" src="/img/logo.png" alt="logo">
          </button>
          <button class="sidebar-icon group" (click)="changeComponent('profile')" title="Perfil">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none" viewBox="0 0 24 24"
              strokeWidth={1.5}
              stroke="currentColor"
              class="h-6 w-6 text-gray-400 group-hover:text-white"
              className="size-6">
              <path strokeLinecap="round" strokeLinejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
            </svg>
          </button>
          <button class="sidebar-icon group" (click)="changeComponent('chat')" title="Chat">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-400 group-hover:text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z"/>
            </svg>
          </button>
          <button class="sidebar-icon group" (click)="changeComponent('contact')" title="Contactos">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              strokeWidth={1.5}
              stroke="currentColor"
              class="h-6 w-6 text-gray-400 group-hover:text-white"
              className="size-6"
            >
              <path strokeLinecap="round" strokeLinejoin="round" d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z" />
            </svg>
          </button>
        </nav>
    
        <!-- User icon with logout option -->
        <div class="relative">
          <div class="sidebar-icon group cursor-pointer" (click)="toggleLogoutMenu()">
            <img [src]="currentUser?.profilePictureUrl" alt="User Avatar" class="h-10 w-10 rounded-full">
          </div>
          <!-- Logout dropdown -->
          <div *ngIf="logoutMenuOpen" class="absolute bottom-16 left-4 w-32 bg-white text-black rounded-md shadow-lg z-10">
            <ul class="py-1">
              <li class="px-4 py-2 hover:bg-gray-100 cursor-pointer text-sm" (click)="logout()">Cerrar sesión</li>
            </ul>
          </div>
        </div>
      </aside>
    
      <!-- Main content area -->
      <div class="flex-grow">
        <app-chat *ngIf="selectedComponent === 'chat'"/>
        <app-profile *ngIf="selectedComponent === 'profile'"/>
        <app-contact *ngIf="selectedComponent === 'contact'"/>
      </div>
    </div>
  </div>
</div>